<% @fits.each do |fit| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to fit.title, fit %><br>
      <small class="author">Submitted <%= time_ago_in_words(fit.created_at) %> by <%= fit.user.email %></small>
    </h2>
    </div>
  </div>
<% end %>